
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Work Sans", sans-serif;
}
*{ max-width: 100vw;
    margin: 0;
    padding: 0;
 }

 .hero-container{
    width: 100%;
    margin: auto;
    background-color: rgba(255, 144, 14, 0.1);
 }
#nav1{
    font-weight: bold;
}
.ul1{
    display:flex ;
    gap: 45px;
}
li{
    list-style-type: none;
}
.hero-div1{
    display: flex;
    justify-content: space-between;
}