
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Work Sans", sans-serif;
}
*{ max-width:100vw;
    margin: 0;
    padding: 0;
 }
/* shared css codes */
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.button-primary{
    color: white;
    background-color: #FF900E;
    border-radius: 8px;
    font-size: 20px;
    padding: 10px;
    border-style: none;

}
.margin-bottom{
    margin-bottom: 15px;
}
/* shared css codes */


 .hero-container{
    width: 100%;
    background-color: rgba(255, 144, 14, 0.1);
    padding-top: 30px;
    margin-bottom: 70px;
   
 }
#nav1{
    font-weight: bold;
}
.ul1{
    display:flex ;
    gap: 45px;
}
li{
    list-style-type: none;
}
.hero-div1{
    display: flex;
    justify-content: space-between;
     max-width: 75%;
     margin: 0 auto 70px;
     
}
.hero-div2{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 75%;
}
.img1{
    max-width: 75%;
    max-height: 44rem;
    display: block;
    margin: 0 auto;
}

.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.general-image{
    max-width: 342px;
}

.H1{
    font-size:2.8rem;
    margin-bottom: 15px;

}
.section1{
    display: flex;
    max-width: 75%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 70px;
}
.section1-div2{
    padding-left: 25px;
}
.span3{
     color: #FF900E;
}

.p1{ margin-bottom: 15px;
}
.btn1{
     margin-bottom: 15px;
}

.section2{
    display: flex;
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 120px;
}
.section2-div2{
    position: relative;
}
.section2-h3{
    font-size: 2.8rem;  
}
.margin-bottom{
    margin-bottom: 20px;
}
.font{
    font-size: 20px;
    font-weight: 600;
}
.div-border{
    border:none;
    border-radius: 8px;
    box-shadow:2px 2px 20px #727272 ;
    padding: 20px;
    margin-right: 20px;
}
.experience{
    color:white;
    background-color: #FF900E;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 90%;
    right: 80%;
    width: 200px;
    height: 200px;
    align-content: center;
    padding-left: 30px;
    border-radius: 8px;
    
    
}

.facts-h1{
    font-size: 45px;
    font-weight: 700;
}
.facts-p{
    font-size: 16px;
    margin-bottom: 60px;
}
.section3{
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 90px;
}
.stats-container{
    display: flex;
    max-width: 75%;
    margin: 0 auto;
    justify-content: space-between;
}
.stats{
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-items: center;
}
.img{
    width: 45.22px;
    height: 45.22px;
}

.section4{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 120px;
}

.section4-sponsor-title{
    margin-bottom: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.image-container-seciton4{
   display: flex;
   gap: 130px;
   max-width: 75%;
}
.section4-img{
    filter: grayscale(100%) ;
}

footer{
     background-color: rgba(255, 144, 14, 0.1);
     max-width: 75%;
     margin: 0 auto;
     
}
.footer-p{
   text-align: center;
   padding: 20px;
    border-radius: 8px;
    margin-bottom: 120px;
}